<div id="game02" class="centerGitSteps" style="display: none;">
    <h1>GIT MERC steps</h1>

    <table id="gitStepsTable" class="table">
        <tr>
            <td class="gitStepsTr">
                <label class="gitLabel" for="Student">Development mercurius team</label>
            </td>
            <td>
                <input class="centerInput" type="text" value="merge MERC-" id="mergeText">
                <button type="button" class="btn btn-primary" onclick="gitStepsCopyText('mergeText')">Copy</button>
            </td>
        </tr>
        <tr class="gitStepsTr">
            <td>
                <label class="gitLabel" for="Student">On terminal</label>
            </td>
            <td>
                <input class="centerInput" type="text" value="git fetch -a -p" id="fetchText">
                <button type="button" class="btn btn-primary" onclick="gitStepsCopyText('fetchText')">Copy</button>
            </td>
        </tr>
        <tr class="gitStepsTr">
            <td>
                <label for="Student"></label>
            </td>
            <td>
                <input class="centerInput" type="text" value="git rebase origin/master" id="rebaseText" />
                <button type="button" class="btn btn-primary" onclick="gitStepsCopyText('rebaseText')">Copy</button>
            </td>
        </tr>
        <tr class="gitStepsTr">
            <td>
                <label for="Student"></label>
            </td>
            <td>
                <input class="centerInput" type="text" value="git push -f" id="forcePushText">
                <button type="button" class="btn btn-primary" onclick="gitStepsCopyText('forcePushText')">Copy</button>
            </td>
        </tr>
        <tr class="gitStepsTr">
            <td>
                <label class="gitLabel" for="Student">On GITLAB web interface</label>
            </td>
            <td>
                <label class="centerInput" for="Student">PRESS MERGE BUTTON </label>
            </td>
        </tr>
        <tr class="gitStepsTr">
            <td>
                <label class="gitLabel" for="Student">Development mercurius team</label>
            </td>
            <td><input class="centerInput" type="text" value="done" id="doneText">
                <button type="button" class="btn btn-primary" onclick="gitStepsCopyText('doneText')">Copy</button>
            </td>
        </tr>
        <td>
            <label class="gitLabel" for="Student">On JIRA</label>
        </td>
        <td>
            <label class="centerInput" for="Student">PRESS MERGE BUTTON </label>
        </td>

    </table>


</div>
<!-- end game02 -->


<!-- game03 -->
<div id="game03" class="center">
    <table class="table">
        <tr>
            <button type="button" class="btn btn-primary" (click)="transformToCheckList()">To Check
                List</button>
        </tr>
        <tr>

        </tr>
    </table>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 mx-auto">
                    <div class="card shadow ">
                        <div class="card-body p-10">
                            <div class="">
                                <label class="taskLinkTitle">Task link: </label>
                                <br>
                                <input class="taskLink" type="text" value="" for="taskLink"
                                (change)="changeTaskLink(this)">
                            </div>

                            <br>

                            <a class="h4 mb-1">TASK STEPS</a>

                            <button type="button" class="btn btn-primary" (click)="addCheck()"
                                style="margin-left: 100px;">+</button>

                            <ul class="task-list-group ">
                                <li class="list-group-item task-0">
                                    <div class="custom-control custom-checkbox">
                                        <input class="custom-control-input" id="customCheck0" type="checkbox">
                                        <input class="centerInput" type="text" value="" for="customCheck0"
                                        (change)="changeInputValue(this)">

                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>