
/* banner */

.banner {
    font-size: 10rem;
    text-align: center;
    height: 90vh;
    line-height: 90vh;
    color: #002b5c;
    font-family: Roboto, cursive;
    font-weight: 700;
}

.banner p {
    text-align: center;
    font-family: Roboto;
    font-size: 0.8rem;
}

.banner a {
    color: #d52e3f;
    font-family: 'Roboto', cursive;
    font-size: 1.2rem;
}