table {
  width: 100%;
}

.mat-row:hover .mat-cell {
  background-color: #cccccc;
  cursor: pointer;
}

.branchName {
  font-size: 3em;
  text-align: center;
  margin: 30px;

  color: #002b5c;
  font-family: Roboto, cursive;
  font-weight: 700;
}
