<div class="center">
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 mx-auto">
                    <div class="card shadow ">
                        <div class="card-body p-10">
                            <br>
                            <ul class="withoutDot">
                                <li >
                                    <div class="custom-control custom-checkbox">
                                        <input #regex name="regex" class="centerInput new-todo" type="text" value="{{title}} " for="jspRegex"
                                            placeholder="JSP name"
                                            (click)="cleanJspName()"
                                            (change)="transformToJspSearchRegex(regex.value,'jspRegex')"
                                             autofocus 
                                        >
                                        <label class="jspRegex" style="display:none">Copied</label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>