<div class="center">

    <button mat-raised-button color="primary" (click)="showRandomShortcut()">
        Another shortcut
    </button>

    <mat-list class="shortcutInfo">
        <mat-list-item class="lower"><label style="text-transform:uppercase"><b>FAMILY:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></label> {{shortcutFamily | lowercase}}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item class="lower"><label style="text-transform:uppercase"><b>ACTION:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></label>{{shortcutAction | lowercase}} </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item class="lower"><label style="text-transform:uppercase"><b>SHORTCUT:&nbsp;&nbsp;&nbsp;</b></label>{{shortcutData | lowercase}}</mat-list-item>
    </mat-list>

</div>